*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none;
}

body{
    height: 100vh;
    display: grid;
    grid-template-areas: "header"
    "main"
    ;
    grid-template-rows: 100px 1fr;
    background-color: #975C9A;

}
header{
    background-color: #FDC939;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    place-items: center;
    height: 70px;
}

.menuh1{
    display: flex;
    gap: 30px;
    margin-left: 3vw;
 
}

.menu{
    width: 30px;
    height: 30px;
    font-size: 1.8rem;
    color: black;

}

.nomeLoja{
    font-style: normal;
    font-weight: 400;
    width: 371px;
    height: 45px;
    line-height: 39px;
}

.moneycall{
    display: flex;
    gap: 45px;
    margin-right: 4vw;
}


.money{
    width: 50px;
    height: 40px;
    font-size: 2.3rem;
}
.description-money{
    font-style: normal;
    font-weight: 400;
    height: 39px;
    font-size: 1.5rem;
    line-height: 39px;
}
.call{
    font-size: 2.3rem;
}
.description-call{
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    height: 39px;
    font-size: 1.5rem;
}
main{
    background-color: #975C9A;
    grid-area: main;
    display: flex;
    flex-direction: column;
    
   
}
.text{
   display: flex;
   flex-direction: column ;
   align-items: center;
   height: 40vh;
   padding-top: 6vh;
   
}

.marketing{
    align-items: center;
    display: flex;
   flex-direction: column ;
   padding-top: 3.5vh;
   gap: 2vh;
   margin-bottom: 5vh;
}
.titulo{
    color: #FDC939;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4,87625rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    
}

.presentation{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
}
.time{
    font-size: 1.5rem;
    
    
}
.btn{
    font-size: 1.2rem;
    background-color:#FDC939; 
    background-size: unset;
    width: 22vw;
    color:  #700F75;
    text-transform: uppercase;
    border: none;
    height: 6.0vh;
    cursor: pointer;

}

.btn:hover{
    font-weight: bold;
    transition: .5s;
}
.pictures{
    display: flex;
    padding-right: 2vw;
    padding-left: 2vw;
    width: 100%;
    justify-content: space-between;
    padding-top: 8vh;
}

.image1, .image2, .image3{
    width: 22vw;
    height: 38vh;
}

@media (max-width:480px) {
    header{
        background-color: #FDC939;
        grid-area: header;
        display: flex;
        justify-content: space-between;
        place-items: center;
        height: 40px;
    }
    
    .menuh1{
        display: flex;
        gap: 10px;
        margin-left: 3vw;
     
    }
    
    .menu{
        width: 30px;
        height: 30px;
        font-size: 1.8 rem;
        color: black;
    
    }
    
    .nomeLoja{
        font-style: normal;
        font-weight: 400;
        width: 280px;
        height: 45px;
        line-height: 39px;
    }
    
    .moneycall{
        display: flex;
        margin-right: 15vw;
    }
    
    
    .money{
        width: 10px;
        height: 40px;
        font-size: 2.0rem;
    }
    .description-money, .description-call{
       display: none;
    }
    .call{
        font-size: 2.0rem;
    }

    /*main*/

    .text{
        display: flex;
        flex-direction: column ;
        align-items: center;
        height: 40vh;
        padding-top: 1vh;
       
        
     }
     
     
     .titulo{
         color: #FDC939;
         font-size: 2.2rem;
         width: 100vw;
         font-weight: 400;
         margin-left: 13%;
         
         
     }
     .marketing{
        justify-content: flex-start;
       padding-top: 5vh;
       gap: 2vh;
       
    }
     
     .presentation{
         font-size: 1rem;
         width: 100vw;
         margin-left: 19%;
         
        
     }
     .time{
         font-size: 1rem;
         
         
         
     }
     .btn{
         width: 50vw;
       
     
     }
     .pictures{
        display: flex;
        flex-direction: column;
        gap: 10vh;
        padding-top: 5vh;
    }
    
    .image1, .image3{
        width: 38vw;
        height: 38vh;
        padding-left: 5%;
    }
    .image2{
        margin-left: 55%;
        width: 38vw;
        height: 38vh;
    }
  
}
    @media (max-width:400px) {
        .titulo{
            font-size: 2.2rem;
            width: 80vw;
            font-weight: 400;
            margin-left: 4%;
            
    }

    .presentation{
        margin-left: 9%;
}
    }
